<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PopcornScrum v2.0</title>
    <% if (env === 'production') { %>
    <link rel="stylesheet" href="/static/app.min.css">
    <% } else { %>
    <link rel="stylesheet" href="/static/app.css">
    <% } %>
</head>
<body class="popcorn">
<div class="popcornApp">
    <!-- Start services Area -->
    <section class="pb-100">
        <div class="container">
            <h1>Timer</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div id="timer-container" class="filler-container">
                        <div class="container-fill">
                            <div id="timer" class="float-left font-size">
                                {{time}}
                            </div>
                            <div class="float-right">
                                <button id="stop-timer" class="btn btn-danger" v-on:click="stopTimer()">Stop</button>
                            </div>
                            <div class="float-right">
                                <button id="start-timer" class="btn btn-primary" v-on:click="startTimer()">Start</button>
                            </div>
                            <div class="float-right">
                                <button id="start-timer" class="btn btn-primary" v-on:click="shuffleCards()">shuffle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Scrum Deck<span id="cards" v-text="totalCardsText"></span></h1>
            <h3>Click a name to remove it!</h3>
            <div v-for="card in filteredCards">
                <div class="row" v-on:click="completeCard(card)" v-bind:class="{complete: card.completed}">
                    <div class="col-lg-12">
                        <div class="filler-container selectable user-card">
                            <div class="font-size">{{card.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="allCardsComplete">
                <div class="col-lg-12">
                    <div class="filler-container">
                        <div>Press <button id="start-timer" class="btn btn-primary" v-on:click="shuffleCards()">shuffle</button> to play again!</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
